[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=kekit
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=keKit
Comment=keKit script collection for Krita
